.tg-about {
	&__approach {
		background: $brand-secondary-lite;

		&__tg-title-subtitle {
			font-size: 22px;
			padding-top: 0;
			padding-left: 30px;
			font-weight: 900;

			&:before {
				display: none;
			}
		}

		.article {
			.info {
				min-height: 200px;
				background-color: #ffffff;
			}
		}
	}

	&__story {
		overflow: hidden;

		.container {
			position: relative;
			z-index: 99;
		}

		&-container {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				display: none;

				@media (min-width: 992px) {
					display: block;
				}
			}

			&:before {
				width: 30px;
				background-color: $brand-primary;
				z-index: 1;
			}

			&:after {
				width: 284px;
				z-index: 2;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-image: url(../img/mask-10.png);
			}

			@media (min-width: 768px) {
				min-height: 417px;
			}

			.tg-info-block-one {
				position: relative;
				z-index: 99;
			}

			.tg-info-block-one__text {
				padding-top: 0;

				@media (max-width: 1199px) {
					padding: 0 15px;
				}
			}
		}

		&-img {
			z-index: 1;
			margin-left: auto;
			margin-right: auto;
			max-width: 320px;

			@media (min-width: 768px) {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -184px;
				margin: 0;
				max-width: none;
			}
		}

		.tg-info-block-one__text {
			width: 100%;
			max-width: 100%;
		}
	}

	&__partners-container {
		.tg-title {
			width: fit-content;
			margin: 0 auto;
		}

		.tg-about-partners {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			&__item {
				width: 176px;
				height: 104px;
				margin: 25px 5px;
				justify-content: center;
				border: 2px solid $brand-primary;
				box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .35);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 90%;
			}
			/*img {
				width: 176px;
				padding: 20px 15px;
				margin: 25px 5px;
				justify-content: center;
				border: 2px solid $brand-primary;
				box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .35);
			}*/
		}
	}

	&__news-container {
		background-image: url('../img/mask-6.png');
		background-color: $brand-primary;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		min-height: 500px;

		.block {
			margin: 0 auto;

			.tg-title__news {
				color: #fff;
				margin-left: 0;
				padding-left: 0;
				text-align: center;

				&:before {
					display: none;
				}
			}
		}

		&__articles {
			display: flex;
			justify-content: space-around;

			.article {
				.image {
					width: 240px;
					height: 185px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: top center;
				}

				.info {
					background: #fff;

					a {
						color: $brand-primary !important;
					}
				}
			}
		}
	}
}