.tg-contact {
  &__form-container {
    width: 100%;
    border: 1px solid #707070;

    @media (max-width: 992px) {
      padding: 0 15px;
    }

    &__form {
      border: 1px solid red;
      min-height: 365px;

      @media (min-width: 992px) {
        margin: 0 30px;
      }
      @media (min-width: 1200px) {
        margin: 0 45px;
      }
    }
  }

	&__form {
		padding: 0 45px;
		font-size: rem(16);

		&-details {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 0 30px;
		}

		.wpcf7-form {
			display: flex;
			flex-wrap: wrap;
			position: relative;
			align-items: flex-start;
			margin-left: -20px;
			margin-right: -20px;

			.ajax-loader {
				position: absolute;
				top: 5px;
				right: 5px;
			}

			.wpcf7-not-valid-tip {
				display: none;
			}

			.wpcf7-validation-errors {
				font-size: rem(13);
				margin: 0 15px !important;
				padding: 5px !important;
				color: #fff;
				border: 0 solid transparent !important;
				background-color: #FF0000;
				position: absolute;
				max-width: 300px;
				border-radius: 3px;
				z-index: 1000;
				top: calc(100% + 10px);
				right: 20px;


				&:before {
					content: '';
					position: absolute;
					top: -10px;
					right: 15px;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 10px solid #FF0000;
				}
			}

			.wpcf7-mail-sent-ok {
				font-size: rem(13);
				margin: 0 15px !important;
				padding: 5px !important;
				color: #fff;
				border: 0 solid transparent !important;
				background-color: #33CC33;
				position: absolute;
				max-width: 300px;
				border-radius: 3px;
				z-index: 1000;
				top: calc(100% + 10px);
				right: 20px;

				&:before {
					content: '';
					position: absolute;
					top: -10px;
					right: 15px;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 10px solid #33CC33;
				}
			}

			&-control-wrap {
				flex: 0 0 50%;
				max-width: 50%;
				padding-left: 20px;
				padding-right: 20px;

				&.your-textarea {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}

			[type="text"],
			[type="email"],
			[type="tel"] {
				line-height: 42px;
				width: 100%;
				height: 42px;
				color: #1a1818;
				padding: 0 10px;
				border: none;
				border-bottom: 2px solid #1a1818;
				margin-bottom: 30px;
				font-size: rem(16);

				@include placeholder(#1A1818);

				&.wpcf7-not-valid {
					border-color: $brand-primary;
				}
			}

			textarea {
				width: 100%;
				height: 126px;
				border: 2px solid #1a1818;

				&.wpcf7-not-valid {
					border-color: $brand-primary;
				}
			}

			[type="submit"] {
				min-width: 146px;
				line-height: 46px;
				border-radius: 23px;
				padding: 0 20px;
				text-align: center;
				font-size: rem(16);
				font-weight: bold;
				display: inline-block;
				background-color: $brand-primary;
				color: #fff;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40px;
				border: none;

				&:hover {
					color: #fff;
				}
			}
		}
	}

  &__locations-container {
    background-color: #d8d9d9;
    background-image: url('../img/location/data_lines_2.png');
    background-repeat: no-repeat;
    background-position: bottom left;
  }
}


.tg-location {

	&-map {
		max-width: 870px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 50;
		display: none;

		@media (min-width: 992px) {
			display: block;
		}

		img {
			position: relative;
			width: 100%;
			z-index: 0;
		}
		
		&__marker {
			position: absolute;
			z-index: 1;

			&.marker-active {
				z-index: 52;

				.tg-location-map__marker-icon {
					width: 56px;
					height: 80px;
				}

				.tg-location-map__marker-popup {
					display: block;
				}
			}

			&.tg-florida-tampa {
				bottom: 77px;
				left: 685px;
			}
			&.tg-california-paramount {
				bottom: 205px;
				left: 70px;
			}
			&.tg-california-palm-desert {
				bottom: 220px;
				left: 105px;
			}
			&.tg-california-ontario {
				bottom: 240px;
				left: 42px;
			}
			&.tg-california-rancho-cucamonga {
				bottom: 267px;
				left: 70px;
			}
			&.tg-illinois-edwardsville {
				top: 185px;
				left: 530px;
			}
			&.tg-texas-grapevine {
				bottom: 145px;
				left: 400px;
			}

			&-icon {
				width: 44px;
				height: 66px;
				position: relative;
				z-index: 7;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				background-image: url(../img/triage_locations.png);
				cursor: pointer;
				transition: all .2s;
				
				&.red-icon {
					background-image: url(../img/triage_corp.png);
				}
			}

			&-popup {
				position: absolute;
				z-index: 1;
				top: 20px;
				left: 0;
				display: none;
			}

				&-state {
					height: 44px;
					background-color: $brand-primary;
					padding-left: 40px;
					padding-right: 50px;
					margin-left: 30px;
					line-height: 44px;
					font-size: rem(22);
					text-transform: uppercase;
					color: #ffffff;
					font-weight: 500;
					display: inline-block;
					position: relative;
					z-index: 3;
					-webkit-clip-path: polygon(0px 0px, 100% 0px, 85% 100%, 0px 100%);
					clip-path: polygon(0px 0px, 100% 0px, 85% 100%, 0px 100%);
				}

				&-address {
					background-color: #ffffff;
					border-radius: 10px;
					padding: 20px 30px;
					font-size: rem(15);
					box-shadow: 0 3px 4px rgba(#000, .25);
					min-width: 250px;

					p {
						margin-bottom: 8px;
					}
				}
		}
	}

	&-item {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 208px;
		padding: 10px 0;

		@media (min-width: 992px) {
			cursor: pointer;
			padding: 10px 0 50px;
		}
		
		&.item-active {
			.tg-location-item__state {
				background-color: $brand-hover-link;
			}
		}

		&__state {
			height: 34px;
			background-color: $brand-primary;
			padding-left: 15px;
			padding-right: 50px;
			line-height: 34px;
			font-size: rem(20);
			text-transform: uppercase;
			color: #ffffff;
			font-weight: 500;
			display: inline-block;
			position: relative;
			z-index: 3;
			-webkit-clip-path: polygon(0px 0px, 100% 0px, 85% 100%, 0px 100%);
			clip-path: polygon(0px 0px, 100% 0px, 85% 100%, 0px 100%);
		}

		&__city {
			background-color: #ffffff;
			border-radius: 6px;
			line-height: 20px;
			min-height: 52px;
			padding: 20px 10px 10px;
			font-size: rem(18);
			border: 1px solid $brand-hover-link;
			box-shadow: 0 3px 4px rgba(#000, .25);
			margin-left: 20px;
			margin-top: -13px;

			@media (min-width: 992px) {
				margin-left: 0;
				margin-top: 0;
				position: absolute;
				top: 30px;
				left: 20px;
				right: 0;
				z-index: 1;
				padding: 20px 10px 0;
			}
		}
	}
}