@import "variables";

.tg-panel-solution {
	position: relative;
	background-color: $brand-secondary-lite;

	&_revers {
		background-color: $brand-secondary;

		.tg-panel-solution__jp {

			@media (min-width: 992px) {
				order: 1;
			}

			&-img {

				@media (min-width: 1200px) {
					position: absolute;
					right: 13px;
					bottom: 15px;
					max-width: 273px;
				}
			}

			&-layout {
				margin-right: auto;
				margin-left: 0;
				width: 343px;
				height: 462px;
				background-color: $brand-primary;
				display: none;

				@media (min-width: 1200px) {
					display: block;
				}
			}
		}

		.tg-panel-solution__text {
			@media (min-width: 992px) {
				order: 2;
			}

			@media (min-width: 1310px) {
				margin-left: 0;
				margin-right: 175px;
			}
		}
	}

	&__top {
		width: 100%;
		max-width: 1366px;
		margin-right: auto;
		margin-left: auto;

		@media (min-width: 1200px) {
			padding-right: 45px;
			padding-left: 45px;
		}
	}

		&__text {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 30px 15px;

		@media (min-width: 1310px) {
			margin-left: 175px;
		}

		@media (min-width: 1200px) {
			flex: 0 0 470px;
			max-width: 470px;
			padding: 85px 0 0;
		}
	}

		&__jp {
		flex: 0 0 100%;
		max-width: 100%;
		position: relative;

		@media (min-width: 1200px) {
			flex: 0 0 495px;
			max-width: 495px;
		}

		&-img {
			width: 100%;

			@media (min-width: 1200px) {
				position: absolute;
				right: 35px;
				bottom: 20px;
				max-width: 460px;
			}

			img {
				margin-left: auto;
				margin-right: auto;
				display: block;

				@media (max-width: 1199px) {
					border-bottom: 25px solid $brand-primary;
				}
			}
		}

		&-layout {
			margin-left: auto;
			width: 343px;
			height: 462px;
			background-color: $brand-primary;
			display: none;

			@media (min-width: 1200px) {
				display: block;
			}
		}
	}

	&__item {
		background-color: #ffffff;
		box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .2);
		height: 100%;

		img {
			max-width: 200px;
		}

		&-text {
			font-weight: 300;
			font-size: rem(16);

			@media (min-width: 768px) {
				font-size: rem(18);
			}

			p {
				margin-bottom: 0;
			}
		}
	}
}

.tg-process {
	position: relative;

	@media (min-width: 1200px) {
		min-height: 480px;
	}

	.container,
	.row {
		min-height: inherit;
	}

	&__item {
		text-align: center;

		@media (min-width: 1200px) {
			max-width: 470px;
			margin-left: auto;
		}
	}

	&__image {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		position: relative;
		display: none;

		@media (min-width: 1200px) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 583px;
			height: auto;
			display: block;
		}
		
		&:before {
			content: '';
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			background-image: url(../img/mask-9.png);
		}
	}
}

.tg-partners {
	background-color: $brand-secondary-lite;
	position: relative;

	&__lists {

		.container {
			padding-right: 20px;
			padding-left: 20px;
		}

		.row {
			margin-right: -20px;
			margin-left: -20px;
		}

		.col,
		[class*="col-"] {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	&__item {
		position: relative;
	}

	&__thumb {
		position: relative;

		img {
			position: relative;
			z-index: 9;
		}

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			background-color: $brand-primary;
			display: none;

			@media (min-width: 992px) {
				display: block;
			}
		}

		&_ov-1 {
			&:before {
				width: 95px;
				height: 100%;
				left: -20px;
				bottom: -20px;
			}
		}
		&_ov-2 {
			&:before {
				height: 77px;
				top: -20px;
				right: -20px;
				left: -20px;
			}
		}
		&_ov-3 {
			&:before {
				width: 95px;
				height: 100%;
				right: -20px;
				bottom: -20px;
			}
		}
		&_ov-4 {
			&:before {
				width: 95px;
				height: 100%;
				left: -20px;
				top: -20px;
			}
		}
		&_ov-5 {
			&:before {
				height: 77px;
				bottom: -20px;
				right: -20px;
				left: -20px;
			}
		}
		&_ov-6 {
			&:before {
				width: 95px;
				height: 100%;
				right: -20px;
				top: -20px;
			}
		}
	}
}

.tg-template-ready {
	position: relative;

	&__top {
		position: relative;
		background-color: $brand-primary;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../img/mask-6.png);
		padding: 40px 0;

		@media (min-width: 992px) {
			min-height: 480px;
			padding: 0;
		}

		.container,
		.row {
			min-height: inherit;
		}
	}

	&__title {
		color: #ffffff;
		text-align: center;

		@media (min-width: 992px) {
			max-width: 600px;
		}

	}

	&__image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 859px;
		z-index: 1;
		display: none;
		overflow: hidden;

		@media (min-width: 992px) {
			display: block;
		}

		&-layer {
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(../img/mask-data-1.png);
			position: relative;
			bottom: -3px;
		}
	}
}