%Included {
  background-image: url(img/sprite.png) -168px -170px;
  width: 42px;
  height: 36px;
}
%book {
  background-image: url(img/sprite.png) -372px -124px;
  width: 16px;
  height: 16px;
}
%bottom {
  background-image: url(img/sprite.png) -372px 0px;
  width: 16px;
  height: 32px;
}
%briefcase {
  background-image: url(img/sprite.png) -84px -170px;
  width: 64px;
  height: 58px;
}
%buton-form {
  background-image: url(img/sprite.png) 0px 0px;
  width: 66px;
  height: 66px;
}
%coordinate-2 {
  background-image: url(img/sprite.png) -78px -341px;
  width: 18px;
  height: 24px;
}
%coordinate {
  background-image: url(img/sprite.png) -40px -341px;
  width: 18px;
  height: 24px;
}
%edit-2 {
  background-image: url(img/sprite.png) -84px -86px;
  width: 64px;
  height: 64px;
}
%edit {
  background-image: url(img/sprite.png) -170px 0px;
  width: 64px;
  height: 64px;
}
%fb {
  background-image: url(img/sprite.png) -372px -232px;
  width: 10px;
  height: 16px;
}
%globe-2 {
  background-image: url(img/sprite.png) -170px -84px;
  width: 64px;
  height: 64px;
}
%globe {
  background-image: url(img/sprite.png) -86px 0px;
  width: 64px;
  height: 64px;
}
%help {
  background-image: url(img/sprite.png) -254px -155px;
  width: 38px;
  height: 42px;
}
%ic-2 {
  background-image: url(img/sprite.png) 0px -254px;
  width: 101px;
  height: 7px;
}
%ic {
  background-image: url(img/sprite.png) -121px -254px;
  width: 101px;
  height: 7px;
}
%in {
  background-image: url(img/sprite.png) -372px -160px;
  width: 16px;
  height: 16px;
}
%menu-close {
  background-image: url(img/sprite.png) -104px -281px;
  width: 32px;
  height: 32px;
}
%menu-open {
  background-image: url(img/sprite.png) -156px -281px;
  width: 32px;
  height: 32px;
}
%name-form {
  background-image: url(img/sprite.png) -326px -230px;
  width: 22px;
  height: 24px;
}
%next-gray {
  background-image: url(img/sprite.png) -319px -281px;
  width: 17px;
  height: 32px;
}
%next-white-mini {
  background-image: url(img/sprite.png) -208px -281px;
  width: 17px;
  height: 32px;
}
%next-white {
  background-image: url(img/sprite.png) -326px -70px;
  width: 26px;
  height: 50px;
}
%ok {
  background-image: url(img/sprite.png) -254px -84px;
  width: 51px;
  height: 51px;
}
%operator-2 {
  background-image: url(img/sprite.png) 0px -86px;
  width: 64px;
  height: 64px;
}
%operator {
  background-image: url(img/sprite.png) 0px -170px;
  width: 64px;
  height: 64px;
}
%prev-gray {
  background-image: url(img/sprite.png) -245px -281px;
  width: 17px;
  height: 32px;
}
%prev-white-mini {
  background-image: url(img/sprite.png) -282px -281px;
  width: 17px;
  height: 32px;
}
%prev-white {
  background-image: url(img/sprite.png) -326px 0px;
  width: 26px;
  height: 50px;
}
%review {
  background-image: url(img/sprite.png) -52px -281px;
  width: 32px;
  height: 32px;
}
%search {
  background-image: url(img/sprite.png) -326px -140px;
  width: 26px;
  height: 26px;
}
%select-down {
  background-image: url(img/sprite.png) -372px -298px;
  width: 13px;
  height: 7px;
}
%tel-a {
  background-image: url(img/sprite.png) -372px -52px;
  width: 16px;
  height: 16px;
}
%tel-b {
  background-image: url(img/sprite.png) -372px -88px;
  width: 16px;
  height: 16px;
}
%tel-form {
  background-image: url(img/sprite.png) -326px -186px;
  width: 24px;
  height: 24px;
}
%tel-header {
  background-image: url(img/sprite.png) 0px -341px;
  width: 20px;
  height: 24px;
}
%tel {
  background-image: url(img/sprite.png) -372px -196px;
  width: 16px;
  height: 16px;
}
%tours {
  background-image: url(img/sprite.png) 0px -281px;
  width: 32px;
  height: 40px;
}
%tropical {
  background-image: url(img/sprite.png) -254px 0px;
  width: 52px;
  height: 64px;
}
%vk {
  background-image: url(img/sprite.png) -372px -268px;
  width: 16px;
  height: 10px;
}
